/* Footer.css */
.footer {
    background-color: #333;
    padding: 1rem 0;
    text-align: center;
  }
  
  .social-links a {
    margin: 0 10px;
    color: white
  ; /* Color of the icons /
  font-size: 24px; / Size of the icons */
  }
  
  .social-links a:hover {
  color: #049; /* Color when hovered over, can be any color */
  }