/* Home.css */
.home-container {
    color: white;
    text-align: center;
    padding-top: 135px;
    height: 100vh;
    margin: 0;
    background: url('./images/bg.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
  .hero-section h2 {
    font-size: 2.5rem;
    letter-spacing: 1px;
    margin: 0;
  }
  
  .hero-section button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #333;
    background: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .hero-section button:hover {
    background: #ddd;
  }
  
  /* Navbar styles */
  .navbar {
    background-color: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
  }
  
  .navbar a.active {
    border-bottom: 2px solid white;
  }
  
  body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .testimonials-teaser {
    margin-top: 40px;
  }
  
  .testimonials-teaser .testimonial {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .testimonials-teaser button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    padding: 0 20px;
  }
  
  .testimonials-teaser blockquote {
    max-width: 600px;
    padding: 0 20px;
  }
  
  .testimonials-teaser p {
    font-size: 1.2rem;
    font-style: italic;
  }
  
  .testimonials-teaser footer {
    font-size: 1rem;
    font-weight: bold;
    text-align: right;
    margin-top: 0.5rem;
  }
  
  .newsletter-sign-up p {
    color: #fff;
    font-size: 1.8rem;
  }
  
  .newsletter-sign-up button {
    padding: 10px 20px;
    margin-top: 20px;
  }