/* index.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%; /* Full height */
  background: url('./images/bg.jpg') no-repeat center center fixed; /* Background image */
  background-size: cover; /* Cover the full page */
  font-family: Arial, sans-serif; /* Font family */
}

/* Ensure all content will have a consistent font and color */
*, *:before, *:after {
  box-sizing: border-box;
  color: white; /* Default text color */
}

/* Navbar styles */
.navbar {
  background-color: #000; /* Changed navbar color to black */
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure navbar is on top of other content */
}

.navbar h1 {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: 24px;
  letter-spacing: 2px;
}

.navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add responsive design */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    text-align: left;
  }
}

